{% block nav %}
<nav>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-auto text-center">
                <a href="/">Home</a>
                <a href="/annonce">Annonces</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</nav>
{% endblock %}